In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/AgencyDataset/AgencyDataset.xlsx

In [2]:
import pandas as pd

Price Detection & Prediction: Main goal.

Checking links & Correlation with price & other labels.

<b>1)Date Study 
Check Date Range & Link to price range.
if Date range = 3 Months, (May-July) 
    Check Price Variation.</b>
    

    
    
2)Bedroom study, 
    Checking Number of bedrooms & link to price range 
    Integer Value
    
3) Bathroom study:
    
Lower Level Baths? A. 3/4

Main Floor Baths? A. 1/2

Upper Floor Baths? A. 1 full and 1 3/4, Feature Engineering!!
    
 
    
4) Living Room Study:
       Describes Living room space in sqft.
        
    

5) Lot Value Study:
       Describes Full space of the house/appartment.
        
    
    
 6) Floor value Study:
        Number of floors, Real value
    
    if 1.5 : Second floor = 1/2 First floor.
       
    
    
  7) View: Descriptional Data:  Integer values
« 0 » : bad
« 1 » : mediocre
« 2 » : good enough
« 3 » : good
« 4 » : very good 
    
   8)Condition: 
    
                
    « 1 » : mauvaise 
                  « 2 » : assez mauvaise
                  « 3 » :  passable 
                  « 4 » :  bonne 
                  « 5 » : très bonne

In [3]:
data = pd.read_excel("../input/AgencyDataset/AgencyDataset.xlsx")
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02,313000.0,3,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02,2384000.0,5,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02,342000.0,3,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02,420000.0,3,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02,550000.0,4,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

1) Bedrooms [0-9]



2) Bathrooms [0-8]



3) sqft_living [370-13540]sqft 


4) sqft_lot [6.380000e+02 - 1.074218e+06] sqft



5) floors [1-3.5] 


6) View [0-4]


7) Condition [0-7]

Objective for next week: 


Data Table Cleaning/
Bedrooms /
Bathrooms.